<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pure CSS Quote Box Hover Effects</title>
        <link rel="stylesheet" href="../static/css/homehover.css">
    </head>

    <body>

        <div class="quote">

            <div>
                <div class="box box2 boxh">
                        <p>Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo
                        consequat.</p>
                        <h2>Button</h2>
                </div>
                <div class="boxg boxh">
                    <p>Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo
                    consequat.</p>
                    <h2>Upload Image</h2>
            </div>
                <div class="bg"></div>
            </div>
            <div>
                <div class="box box3">
                        <p>Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo
                        consequat.</p>
                        <h2>Upload Video</h2>
                </div>
                <div class="bg"></div>
            </div>
        </div>

    </body>
</html>